#table_projetos{

    font-size: 40px;
    padding: 5%;
  
}
p, h1, td, tr{
    color:white

}
a{
    text-decoration: none;
    color:blue

}
a:hover{

    text-decoration:underline;
}
table{
    width: 400px;
    height: 300px;
    border: 5px solid white;
}
td{
    border: 2px solid white;
    
    
}