.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resposta{
    display: flex;  
    border: 5px solid black;
    width: 30%;
    height: 30%;
}
#resposta{
    display: flex;
    justify-content:  center;
   margin: 0;
   padding: 0;
   width: 100%;
}